.chapter-item {
    border: 1px solid #cacbcc;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0;
    background-color: #f2f3f5;
}

.new-chapter {
    border: 1px solid #cacbcc;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0;
    background-color: #fff;
}

.chapter-content {
    width: 90%;
    margin: 0 auto;
    padding: 0 2rem 0rem 2rem;
}

.chapter-view {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.icon-hoverable:hover {
    background-color: #fff;
    border-color: transparent;
}

.lecture-item {
    background-color: #fff;
    margin: 5px 0 10px 0;
    padding: 5px 5px 5px 10px;
    border: 1px solid #cacbcc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lecture-item .icon-hoverable:hover {
    background-color: #f2f3f5;
}

.edit-chapter,
.new-lecture,
.edit-lecture {
    border: 1px solid lightslategray;
    padding: 1rem;
    margin: 1rem 0;
}

.is-dragging-over {
    background-color: lightslategrey;
}