.chapter-item {
    border: 1px solid #cacbcc;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0;
    background-color: #f2f3f5;
}

.new-chapter {
    border: 1px solid #cacbcc;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0;
    background-color: #fff;
}

.chapter-content {
    width: 90%;
    margin: 0 auto;
    padding: 0 2rem 0rem 2rem;
}

.chapter-view {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.icon-hoverable:hover {
    background-color: #f2f3f5;
    border-color: transparent;
}

.lecture-item {
    background-color: #fff;
    margin: .5rem 0;
    padding: .5rem 1rem .5rem 1rem;
    border: 1px solid #cacbcc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lecture-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cacbcc;
    border-top: none;
    margin-top: -.5rem;
    margin-bottom: .5rem;
    padding-top: .25rem;
    background-color: #fff;
}

.lecture-content-selector {
    display: flex;
}

.lecture-content-selector .lecture-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #cacbcc;
    background-color: rgb(214, 211, 216);
    border-radius: 5px;
    margin: 0 1rem .25rem 1rem;
    padding: .5rem .75rem .25rem .75rem;
    cursor: pointer;
}

.lecture-content-selector .lecture-type:hover,
.lecture-content-selector .lecture-type.active {
    background-color: #007791;
    color: #fff;
}

.lecture-file {
    min-width: 50%;
    padding: 1rem 2rem;
}

.lecture-file.article {
    width: 95%;
}

.lecture-expand-btn {
    color: #686f7a !important;
}

.lecture-expand-btn:hover {
    color: #212529 !important;
}

.expanded-lecture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cacbcc;
    border-top: none;
    margin-top: -.5rem;
    padding: .5rem .75rem .25rem .75rem;
}

.edit-chapter,
.new-lecture,
.edit-lecture {
    border: 1px solid lightslategray;
    padding: 1rem;
    margin: 1rem 0;
}

.is-dragging-over {
    background-color: lightslategrey;
}

@media (max-width: 767px) {
    .chapter-content {
        padding: 0;
    }
    .lecture-content-selector .lecture-type {
        margin: 0 .5rem .25rem .5rem;
    }
    .lecture-file.article {
        width: 100%;
    }
}