.commentSection {
    width: 74%;
    padding: .75rem 0;
}

.commentSection .commentTop {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dedfe0;
}

.newAddedComment {
    background-color: rgb(235, 240, 237);
    padding: 0.25rem;
}

@media (max-width: 768px) {
    .commentSection {
        width: 100%;
        padding: .75rem;
    }
}