.modal-wrapper,
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(41, 48, 59, .8);
    opacity: 1;
    z-index: 300;
}

.ra-modal {
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 301;
    margin: 0 auto;
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    border-radius: 4px;
}

.modal-sm {
    max-width: 200px;
}

.modal-md {
    max-width: 380px;
    min-width: 345px;
}

.modal-lg {
    min-width: 40%;
    max-width: 60%;
}

.auth-modal input,
.auth-modal .btn {
    height: 48px;
}

.modal-center-footer {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.modal-center-footer>*:not(:last-child) {
    margin-bottom: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
    .ra-modal {
        top: 0;
        width: 100% !important;
        min-width: 100% !important;
    }
}