.drop-down-list-level-one,
.drop-down-list-level-two,
.drop-down-list-level-three {
    max-height: 500px;
    width: 270px;
    min-height: 560px;
}

.drop-down-list .drop-down-list-item:hover,
.drop-down-list .drop-down-list-item.open-sub-menu {
    background-color: #F2F3F5;
}

.drop-down-list .drop-down-list-item .menu-link:hover,
.drop-down-list .drop-down-list-item.open-sub-menu>.menu-link {
    color: #007791;
}

.drop-down-list .back-menu-link {
    background-color: #f2f3f5;
    color: #686f7a;
    padding: 1rem;
    cursor: pointer;
}

.drop-down-list .back-menu-link span {
    padding-left: 1rem;
}

.drop-down-list-item .menu-link {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 0.75rem;
    color: #29303b;
}

.drop-down.open>ul.drop-down-list {
    display: block;
}

.drop-down-list-arrow-left:before {
    border-style: solid;
    border-width: 0 10px 12px;
    content: "";
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
    border-color: transparent transparent #E9ECEF transparent;
    top: -12px;
}

.drop-down-list-arrow-right:before {
    border-style: solid;
    border-width: 0 10px 12px;
    content: "";
    height: 0;
    position: absolute;
    right: 14px;
    width: 0;
    border-color: transparent transparent #E9ECEF transparent;
    top: -12px;
}

.drop-down-list-level-two,
.drop-down-list-level-three {
    left: 270px;
    top: 0;
    display: none;
    position: absolute;
}

.drop-down-list-level-one .drop-down-list-item:hover>.drop-down-list-level-two,
.drop-down-list-level-one .drop-down-list-item.open-sub-menu>.drop-down-list-level-two {
    display: block;
}

.drop-down-list-level-two .drop-down-list-item:hover>.drop-down-list-level-three,
.drop-down-list-level-two .drop-down-list-item.open-sub-menu>.drop-down-list-level-three {
    display: block;
}

@media only screen and (max-width: 768px) {
    .drop-down-list-level-two,
    .drop-down-list-level-three {
        display: none;
        left: 0;
    }
    .drop-down-list-level-one .drop-down-list-item.open-sub-menu>.drop-down-list-level-two {
        display: block;
    }
    .drop-down-list-level-two .drop-down-list-item.open-sub-menu>.drop-down-list-level-three {
        display: block;
    }
}