.courseDetailHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #505763;
    background: linear-gradient(#29303B, #29303B, #29303B);
    color: #fff;
}

.courseDetailTitle {
    font-size: 35px;
    line-height: 41px;
    font-weight: 600;
}

.courseDetailHeadline {
    font-size: 21px;
    line-height: 27px;
}

.instructorLink,
.instructorLink:hover {
    color: #fff;
}

.courseDetailRow {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0.25rem 0;
}

.courseDetailItem {
    padding-right: 10px;
}

.courseDetailObjectives {
    background-color: #f9f9f9;
    border: 1px solid#dedfe0;
    padding: 10px 15px;
}

.courseObjectiveList,
.courseRequirementList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courseInfoList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.courseObjectiveItem,
.courseRequirementItem {
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.courseInfoItem {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.courseObjectiveIcon,
.courseRequirementIcon,
.courseInfoIcon {
    align-self: flex-start;
    color: #8a92a3;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 2px;
}

.courseObjectiveText,
.courseRequirementText {
    font-size: 15px;
}

.mobileCourseInfo,
.desktopCourseInfo {
    display: none;
}

.chapterListItem {
    margin-bottom: 0.25rem;
}

.chapterListItem .chapterListHeader {
    font-size: 15px;
    background-color: #f9f9f9;
    padding: 0.7rem;
    border: 1px solid#dedfe0;
}

.lectureListItem {
    border: 1px solid#dedfe0;
    border-top: none;
    padding: 0.7rem 2rem;
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
    .mobileCourseInfo {
        display: block;
    }
    .desktopCourseInfo {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobileCourseInfo {
        display: none;
    }
    .desktopCourseInfo {
        display: block;
    }
}