 .top-header {
     width: 100%;
 }
 
 .nav-container {
     width: 80%;
     margin: 0 auto;
 }
 
 .nav-left {
     flex: 1;
 }
 
 .nav-right {
     display: flex;
 }
 
 .nav-search {
     flex: 1;
     padding-right: 10px;
 }
 
 #side-drawer-toggler {
     display: none;
 }
 
 @media only screen and (max-width: 414px) {
     #side-drawer-toggler {
         display: initial;
         align-self: flex-end;
     }
 }
 
 @media (max-width: 900px) {
     #navbarSupportedContent {
         display: none;
     }
     .mobile-spacer {
         display: initial;
         flex: 1;
     }
     .nav-container {
         width: 100%;
     }
     .nav-right .nav-link {
         padding-left: 2px;
         padding-right: 2px;
     }
 }