.collapse-menu .collapse-menu-item .collapse-item-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1rem 1rem 0.5rem;
    border-bottom: 1px solid #dedfe0;
    color: #29303b;
    font-weight: 600;
    background-color: #f7f8fa;
    cursor: pointer;
}